body {
    margin: 20px;
    border: 1px dotted rgb(15, 15, 48);

}

.avatar {
    width: 150px;
    margin: 20PX;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.content {
    display: flexbox;
    border: 1px dotted rgb(15, 15, 48);

}
